body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.9;
  }
header {
    background:linear-gradient(90deg, rgb(39, 8, 106) 0%, rgb(75, 39, 168) 44%, rgb(40, 2, 87) 110%); 
    border:solid;
    border-color: transparent;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    position: fixed;
    z-index: 1000;
    top: 0;
    width: 80%;
    margin-top: 10px;
    margin-left: 150px;

  } 
  

  header nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 10px;
    padding-right: 350px;
    gap: 15px;
 
    
  }
  
  header nav ul li {
    margin-left: 20px;
    
  }
  
  header nav ul li a {
    color: #fff;
    text-decoration: none;
    
    
  }
  header nav ul li :hover{
    text-decoration: underline;
      
    }
h1{
    position: absolute;
    top: 30%;
    right: 25%;
    color: rgb(255, 255, 255) !important;
    font-size: 50px !important;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
    
}

form{
    margin: 20px;
}






footer {
    background: #1c3646;
    color: #fff;
    text-align: center;
    padding: 30px;
    top: 0px;
  }
  footer h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  footer table {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    border-collapse: collapse;
  }
  
  footer th, footer td {
    padding: 8px 12px;
    text-align: left;
  }
  
  footer th {
  
    font-weight: bold;
  }
  footer td a {
    color: #fff;
    text-decoration: none;
  }
  
  footer td a:hover {
    text-decoration: underline;
  }
  
  footer p {
    margin-top: 10px;
}

.card{
  margin: 50px;
  transition: 1s;
}
.card:hover{
  transform: scale(1.1); /* Grows the card by 10% */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); /* Adds a hover effect */
}
#thre{
    position: absolute;
    top: 150%;
    right: 40%;
    width: 20%;
}



.btnn{
  color: #ffffff !important;
  background-color:transparent !important;
  border: none !important;
  margin-top: -5% !important;
  

}